header.header-default.header--sticky
    .container.h-100
        .header-wrapper
            a(href="index.html").logo
                img(src="../assets/images/logo-white.png", alt="BEMO")
            ul.main-menu
                li.active
                    a(href="index.html") Home
                li
                    a(href="#") About us
                li
                    a(href="services.html") Services
                li
                    a(href="#") Solution
                li
                    a(href="#") Blog
                li
                    a(href="#") Contact
                li.languages-mobile
                    .languages.dropdown
                        .button-choose-language(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                            img.language-icon(src="../assets/images/languages-icons/english.png", alt="ENG")
                            .language-name ENG
                        .dropdown-menu
                            .button-choose-language.dropdown-item
                                img.language-icon(src="../assets/images/languages-icons/vietnamese.png", alt="VIE")
                                .language-name VIE
                            .button-choose-language.dropdown-item
                                img.language-icon(src="../assets/images/languages-icons/japanese.png", alt="JPN")
                                .language-name JPN
            .languages-desktop
                .languages.dropdown
                    .button-choose-language(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                        img.language-icon(src="../assets/images/languages-icons/english.png", alt="ENG")
                        .language-name ENG
                    .dropdown-menu
                        .button-choose-language.dropdown-item
                            img.language-icon(src="../assets/images/languages-icons/vietnamese.png", alt="VIE")
                            .language-name VIE
                        .button-choose-language.dropdown-item
                            img.language-icon(src="../assets/images/languages-icons/japanese.png", alt="JPN")
                            .language-name JPN
            include hamburger-icon