extends ../layouts/layout

block var
    - bodyClass = "index-page"
    - pageTitle = "Bemo Cloud | Services"
    - url_bg_banner_title = "../assets/images/banner-title/services.png"
    - heading_banner_title = "DỊCH VỤ"
    - desc_banner_title = "Sự hài lòng của Khách hàng là mục tiêu cao nhất của chúng tôi"
block css
    link(rel="stylesheet", href="./assets/css/services.css")
block js
block main
    include ../components/banner_title
    section.services-section
        .container
            .services
                .service__item
                    .item__left
                        img(src="./assets/images/services-image/hrm.png", alt="HRM")
                        h4 BEMO – QUẢN TRỊ NGUỒN NHÂN LỰC
                        p Phát triển nhân sự toàn diện trong kỷ nguyên số
                        a.btn.btn-sm.btn-outline-primary-blue-light-color-02(href="#") Xem chi tiết
                    .item__right
                        .modules
                            a(href="#").module__item
                                .icon
                                    img(src="./assets/images/icons-module/recruitment.png", alt="recruitment")
                                .content
                                    h5.name.lcl.lcl-1 Bemo - Quản lý tuyển dụng
                                    p.desc.lcl.lcl-1 Xây dựng thương hiệu tuyển dụng
                            a(href="#").module__item
                                .icon
                                    img(src="./assets/images/icons-module/employees.png", alt="employees")
                                .content
                                    h5.name.lcl.lcl-1 Bemo - Quản trị thông tin nhân sự
                                    p.desc.lcl.lcl-1 Bộ dữ liệu biết nói về quản trị nhân lực.
                            a(href="#").module__item
                                .icon
                                    img(src="./assets/images/icons-module/attendances.png", alt="attendances")
                                .content
                                    h5.name.lcl.lcl-1 Bemo - Quản lý chấm công
                                    p.desc.lcl.lcl-1 Giảm tải tiêu hao sức lực chốt công
                            a(href="#").module__item
                                .icon
                                    img(src="./assets/images/icons-module/payroll.png", alt="payroll")
                                .content
                                    h5.name.lcl.lcl-1 Bemo - Lương & chế độ phúc lợi
                                    p.desc.lcl.lcl-1 Xây dựng thương hiệu tuyển dụng
                            a(href="#").module__item
                                .icon
                                    img(src="./assets/images/icons-module/education.png", alt="education")
                                .content
                                    h5.name.lcl.lcl-1 Bemo - Đào tạo
                                    p.desc.lcl.lcl-1 Phát triển đội ngũ hùng mạnh
                .service__item
                    .item__left
                        img(src="./assets/images/services-image/crm.png", alt="CRM")
                        h4 BEMO – QUẢN LÝ BÁN HÀNG & CRM
                        p Giải pháp thông minh quản trị bán hàng
                        a.btn.btn-sm.btn-outline-primary-blue-light-color-02(href="#") Xem chi tiết
                    .item__right
                        .modules
                            a(href="#").module__item
                                .icon
                                    img(src="./assets/images/icons-module/sales.png", alt="sales")
                                .content
                                    h5.name.lcl.lcl-1 Bemo - Quản lý đơn hàng
                                    p.desc.lcl.lcl-1 Quy trình quản lý thông minh
                            a(href="#").module__item
                                .icon
                                    img(src="./assets/images/icons-module/crm.png", alt="crm")
                                .content
                                    h5.name.lcl.lcl-1 Bemo - Chăm sóc khách hàng
                                    p.desc.lcl.lcl-1 Vũ khí sắc bén phát triển kinh doanh
                            a(href="#").module__item
                                .icon
                                    img(src="./assets/images/icons-module/warehouse.png", alt="warehouse")
                                .content
                                    h5.name.lcl.lcl-1 Bemo - Quản trị hàng tồn kho
                                    p.desc.lcl.lcl-1 Quản lý xuất nhập tồn kho hiệu quả
                            a(href="#").module__item
                                .icon
                                    img(src="./assets/images/icons-module/purchase.png", alt="purchase")
                                .content
                                    h5.name.lcl.lcl-1 Bemo - Quản trị mua hàng
                                    p.desc.lcl.lcl-1 Tối ưu các quy trình
                .service__item
                    .item__left
                        img(src="./assets/images/services-image/accounting.png", alt="accounting")
                        h4 BEMO - QUẢN TRỊ KẾ TOÁN
                        p Nâng tầm doanh nghiệp trong kỷ nguyên số
                        a.btn.btn-sm.btn-outline-primary-blue-light-color-02(href="#") Xem chi tiết
                    .item__right
                        .modules
                            a(href="#").module__item
                                .icon
                                    img(src="./assets/images/icons-module/payroll.png", alt="payroll")
                                .content
                                    h5.name.lcl.lcl-1 Kế toán toàn diện
                                    p.desc.lcl.lcl-1 Nâng tầm doanh nghiệp
                            a(href="#").module__item
                                .icon
                                    img(src="./assets/images/icons-module/equipment.png", alt="equipment")
                                .content
                                    h5.name.lcl.lcl-1 Quản trị tài sản
                                    p.desc.lcl.lcl-1 Tối ưu chi phí và hiệu quả sử dụng
                .service__item
                    .item__left
                        img(src="./assets/images/services-image/finance.png", alt="finance")
                        h4 BEMO - QUẢN TRỊ TÀI CHÍNH
                        p Tối đa hóa lợi nhuận doanh nghiệp
                        a.btn.btn-sm.btn-outline-primary-blue-light-color-02(href="#") Xem chi tiết
                    .item__right
                        .modules
                            a(href="#").module__item
                                .icon
                                    img(src="./assets/images/icons-module/finance.png", alt="finance")
                                .content
                                    h5.name.lcl.lcl-1 Bemo - Quản trị tài chính
                                    p.desc.lcl.lcl-1 Quản trị tài chính hiêu quả
                .service__item
                    .item__left
                        img(src="./assets/images/services-image/operate.png", alt="operate")
                        h4 BEMO - TÍNH NĂNG VẬN HÀNH
                        p Quản lý tài nguyên doanh nghiệp
                        a.btn.btn-sm.btn-outline-primary-blue-light-color-02(href="#") Xem chi tiết
                    .item__right
                        .modules
                            a(href="#").module__item
                                .icon
                                    img(src="./assets/images/icons-module/car.png", alt="car")
                                .content
                                    h5.name.lcl.lcl-1 Bemo - Quản lý phương tiện đi lại
                                    p.desc.lcl.lcl-1 Kiểm tra chặt chẽ việc sử dụng tài nguyên
                            a(href="#").module__item
                                .icon
                                    img(src="./assets/images/icons-module/discuss.png", alt="discuss")
                                .content
                                    h5.name.lcl.lcl-1 Bemo - Thảo luận
                                    p.desc.lcl.lcl-1 Dễ dàng trao đổi trong nội bộ
                            a(href="#").module__item
                                .icon
                                    img(src="./assets/images/icons-module/calendar.png", alt="calendar")
                                .content
                                    h5.name.lcl.lcl-1 Bemo - Quản lý phòng họp
                                    p.desc.lcl.lcl-1 Nâng cao chất lượng cuộc họp
                            a(href="#").module__item
                                .icon
                                    img(src="./assets/images/icons-module/food.png", alt="food")
                                .content
                                    h5.name.lcl.lcl-1 Bemo - Quản lý bữa ăn
                                    p.desc.lcl.lcl-1 Chăm sóc từng bữa ăn của nhân viên
                            a(href="#").module__item
                                .icon
                                    img(src="./assets/images/icons-module/events.png", alt="events")
                                .content
                                    h5.name.lcl.lcl-1 Bemo - Quản lý sự kiện
                                    p.desc.lcl.lcl-1 Lan tỏa thông điệp và kết nối  nhân viên