section.call-to-action-02
    .content-wrapper.container
        h2 Phát triển doanh nghiệp nhanh chóng
        p Giá trị cốt lõi của Bemo Cloud là giúp các doanh nghiệp tiếp cận Chuyển đổi số và tích hợp đa dạng nền tảng một cách nhanh chóng - tiết kiệm - hiệu quả và mang đến cho các doanh nghiệp những sản phẩm, ứng dụng thông minh và hữu ích nhất.