section.call-to-action-01
    .content-wrapper
        h2 Bemo CLOUD - Người bạn đồng hành
        p Chúng tôi mong muốn được đồng hành cùng sự phát triển của doanh nghiệp bạn!
        a.btn.btn-outline-light(href="#") KHÁM PHÁ NGAY