section.contact-section
    .container
        .title-default.title-default--center
            h3.sub-title-default CONTACT US
            h2.main-title-default contact us to get server
                br
                | free trial version
        .list-contact-information
            .information__item
                .icon
                    i.fal.fa-envelope
                .content
                    .name Email Us
                    .value bemo.cloud@gmail.com
            .information__item
                .icon
                    i.far.fa-phone
                .content
                    .name Phone
                    .value (+84) 37 2905 138
            .information__item
                .icon
                    i.far.fa-map-marker-alt
                .content
                    .name Address
                    .value 285 CMT8, Q.10, HCM
        .contact-form-wrapper
            h3.title-contact-form-wrapper DROP YOUR MESSAGE
            .form-wrapper
                form(action="#")
                    .form-row.row
                        .col-md-6
                            input.form-control(type="text" placeholder="Your Name")
                        .col-md-6
                            input.form-control(type="text" placeholder="Your Email")
                        .col-md-6
                            input.form-control(type="text" placeholder="Your Number")
                        .col-md-6
                            input.form-control(type="text" placeholder="Subject")
                        .col-md-12
                            textarea.form-control(rows="7" placeholder="Write A Message")
                        .col-md-12
                            .action-form
                                button.btn.btn-submit SUBMIT YOUR MESSAGE