section.related-posts-section
    .container
        .title-default.title-default--center
            h3.sub-title-default Related posts
            h2.main-title-default BÀI VIẾT LIÊN QUAN
        .related-posts-swiper
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        a.post__item(href="solution-detail.html")
                            .item__img
                                img(src="../assets/images/knowledge/post-03.png", alt="[CASE STUDY] Giải pháp ERP cho doanh nghiệp sản xuất phần mềm")
                            .item__content
                                .content__time
                                    .icon
                                        i.far.fa-calendar-alt
                                    span 10.10.2021
                                h4.content__heading
                                    span.lcl.lcl-2 Kỹ năng Cross-selling hiệu quả cho dân bán hàng
                                .content__desc.lcl.lcl-4 Thuật ngữ Cross-selling được áp dụng rất nhiều trong giảng đường, và các doanh nghiệp cũng sử dụng nhiều trong chiến lược kinh doanh để tăng thành tích bán...
                                .btn-see-more
                                    span XEM CHI TIẾT
                                    i.fal.fa-angle-right
                    .swiper-slide
                        a.post__item(href="solution-detail.html")
                            .item__img
                                img(src="../assets/images/knowledge/post-04.png", alt="ERP đem đến giải pháp quản trị bán hàng giúp tối đa hóa lợi nhuận")
                            .item__content
                                .content__time
                                    .icon
                                        i.far.fa-calendar-alt
                                    span 10.10.2021
                                h4.content__heading
                                    span.lcl.lcl-2 Tips: Thuyết phục cấp lãnh đạo đổi mới với công nghệ
                                .content__desc.lcl.lcl-4 Thuyết phục cấp lãnh đạo là một kỹ năng mềm đáng gờm, và đòi hỏi người đề xuất ý tưởng phải khéo léo bằng những chiến thuật khôn ngoan. Vậy nên, bài viết này...
                                .btn-see-more
                                    span XEM CHI TIẾT
                                    i.fal.fa-angle-right
                    .swiper-slide
                        a.post__item(href="solution-detail.html")
                            .item__img
                                img(src="../assets/images/knowledge/post-05.png", alt="Tài sản doanh nghiệp được quản lý chặt chẽ với ERP như thế nào?")
                            .item__content
                                .content__time
                                    .icon
                                        i.far.fa-calendar-alt
                                    span 10.10.2021
                                h4.content__heading
                                    span.lcl.lcl-2 Tips: Rèn luyện kỹ năng thuyết phục người khác hiệu quả
                                .content__desc.lcl.lcl-4 Kỹ năng thuyết phục người khác được chú trọng trong xã hội ngày nay, vì chúng mang lại những lợi ích to lớn cho cá nhân lẫn doanh nghiệp. Bài viết hôm nay, BEMO...
                                .btn-see-more
                                    span XEM CHI TIẾT
                                    i.fal.fa-angle-right
                    .swiper-slide
                        a.post__item(href="solution-detail.html")
                            .item__img
                                img(src="../assets/images/knowledge/post-01.png", alt="Tài sản doanh nghiệp được quản lý chặt chẽ với ERP như thế nào?")
                            .item__content
                                .content__time
                                    .icon
                                        i.far.fa-calendar-alt
                                    span 10.10.2021
                                h4.content__heading
                                    span.lcl.lcl-2 Tips: Rèn luyện kỹ năng thuyết phục người khác hiệu quả
                                .content__desc.lcl.lcl-4 Kỹ năng thuyết phục người khác được chú trọng trong xã hội ngày nay, vì chúng mang lại những lợi ích to lớn cho cá nhân lẫn doanh nghiệp. Bài viết hôm nay, BEMO...
                                .btn-see-more
                                    span XEM CHI TIẾT
                                    i.fal.fa-angle-right
            .swiper-button-next
            .swiper-button-prev