section.why-choose-bemo-section
    .container
        .title-default
            h3.sub-title-default WHY CHOOSE BEMO
            h2.main-title-default CÁC LỢI ÍCH KHI CHỌN BEMO LÀM
                br
                | NGƯỜI BẠN ĐỒNG HÀNH
        .why-choose-bemo-content
            .contents
                .content__item
                    .content_title_icon
                        .icon
                            i.far.fa-shield-check
                        h4 Bảo mật
                    .content_desc Đặt ưu tiên cao nhất về bảo mật dữ liệu khách hàng. Sử dụng những giải pháp tốt nhất để mang tới sự an toàn cao nhất
                .content__item
                    .content_title_icon
                        .icon
                            i.far.fa-money-check-edit-alt
                        h4 Chi phí
                    .content_desc Chi phí đầu tư ban đầu, chi phí bảo trì bảo dưỡng được loại bỏ. Chi phí hàng tháng hợp lý chỉ từ 50,000vnđ/người/tháng, sử dụng theo nhu cầu thực tế của doanh nghiệp
                .content__item
                    .content_title_icon
                        .icon
                            i.far.fa-money-check-edit-alt
                        h4 Quy trình
                    .content_desc Đặt ưu tiên cao nhất về bảo mật dữ liệu khách hàng. Sử dụng những giải pháp tốt nhất để mang tới sự an toàn cao nhất
                .content__item
                    .content_title_icon
                        .icon
                            i.far.fa-money-check-edit-alt
                        h4 Trải nghiệm
                    .content_desc Chi phí đầu tư ban đầu, chi phí bảo trì bảo dưỡng được loại bỏ. Chi phí hàng tháng hợp lý chỉ từ 50,000vnđ/người/tháng, sử dụng theo nhu cầu thực tế của doanh nghiệp
                .content__item
                    .content_title_icon
                        .icon
                            i.far.fa-money-check-edit-alt
                        h4 Đôi ngũ chăm sóc
                    .content_desc Đội ngũ chăm sóc khách hàng được trang bị chuyên môn vững vàng, sẽ nhiệt tình giải đáp các thắc mắc của doanh nghiệp 24/7
                .content__item
                    .content_title_icon
                        .icon
                            i.far.fa-money-check-edit-alt
                        h4 Trải nghiệm
                    .content_desc Không ngừng phát triển, cải tiến để mang đến cho khách hàng những trải nghiệm với những công nghệ mới nhất Big Data, AI,..
                .content__item
                    .content_title_icon
                        .icon
                            i.far.fa-money-check-edit-alt
                        h4 Giao diện
                    .content_desc Giao diện hiện đại, thân thiện với người dùng
                .content__item
                    .content_title_icon
                        .icon
                            i.far.fa-money-check-edit-alt
                        h4 Mở rộng
                    .content_desc Có thể mở rộng dễ dàng, nhanh chóng tuỳ theo quy mô và sự phát triển doanh nghiệp của bạn
            .image-content
                img(src="./assets/images/home-content/why-choose-bemo.png", alt="WHY-CHOOSE-BEMO")