@import "../scss/default/varivables.scss";

.hero-banner-index {
    position: relative;
    .image-bg {
        height: 100vh;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom center;
        }
        @media (max-width: 1024.98px) {
            height: 50vh;
        }
        @media (max-width: 767.98px) {
            height: 75vh;
        }
    }
    .content-wrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        .content {
            color: #ffffff;
            max-width: 50%;
            h1 {
                font-size: 3rem;
                font-weight: 700;
                margin-bottom: 8px;
                line-height: 1.4;
                @media (max-width: 1024.98px) {
                    font-size: 2rem;
                }
                @media (max-width: 767.98px) {
                    font-size: 1.5rem;
                }
            }
            @media (max-width: 1024.98px) {
                max-width: 70%;
            }
            @media (max-width: 767.98px) {
                max-width: 100%;
            }
        }
        .action {
            margin-top: 24px;
            .btn {
                padding-right: 4.375rem;
                padding-left: 4.375rem;
            }
        }
    }
}

.packages-index {
    margin-top: -92px;
    .packages-swiper {
        position: relative;
    }
    .packages-wrapper {
        background-color: #ffffff;
        padding: 24px;
        border-radius: 8px;
        box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
        margin: 8px;
    }
    .packages-image {
        margin-bottom: 10px;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    .packages-name {
        font-weight: 700;
        color: map-get(
            $map: $theme-colors,
            $key: "primary-blue-medium-color-03"
        );
        text-align: center;
        margin-bottom: 8px;
    }
    .packages-desc {
        font-size: 0.75rem;
        text-align: center;
    }
    .packages-action {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 24px;
        .btn-sm {
            padding-right: 3.125rem;
            padding-left: 3.125rem;
        }
    }
    .swiper-button-next,
    .swiper-button-prev {
        background-color: #ffffff;
        width: 44px;
        height: 44px;
        border-radius: 8px;
        box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
        &:after {
            color: map-get($map: $theme-colors, $key: "primary");
            font-family: map-get($map: $theme-fonts, $key: "icons");
            font-size: 24px;
        }
    }
    .swiper-button-next {
        right: -14px;
        &:after {
            content: "\f178";
        }
    }
    .swiper-button-prev {
        left: -14px;
        &:after {
            content: "\f177";
        }
    }
    .swiper-pagination {
        position: static;
        margin: 32px auto 0;
        white-space: nowrap;
        .swiper-pagination-bullet {
            margin: 0 4px;
            transition: 0.3s all ease-in-out;
            background: map-get(
                $map: $theme-colors,
                $key: "primary-blue-light-color-05"
            );
            opacity: 1;
        }
        .swiper-pagination-bullet-active {
            background: map-get($map: $theme-colors, $key: "primary");
        }
    }
    @media (max-width: 575.98px) {
        margin-top: -48px;
    }
}

.why-choose-bemo-index {
    position: relative;
    padding-top: 80px;
    overflow: hidden;
    .contents {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 32px;
        grid-row-gap: 24px;
        @media (max-width: 1024.98px) {
            order: 2;
            grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 8px;
        }
    }
    .why-choose-bemo-content {
        display: grid;
        align-items: center;
        grid-template-columns: 58.3333333333% 41.6666666667%;
        margin-top: 32px;
        @media (max-width: 1024.98px) {
            grid-template-columns: 1fr;
        }
        @media (max-width: 575.98px) {
            margin-top: 16px;
        }
    }
    .content_title_icon {
        display: flex;
        align-items: center;
        .icon {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 42px;
            height: 42px;
            background-color: map-get(
                $map: $theme-colors,
                $key: "primary-blue-light-color-05"
            );
            border-radius: 8px;
        }
        h4 {
            color: map-get($map: $theme-colors, $key: "primary");
            font-size: 1rem;
            font-weight: 700;
            margin-left: 16px;
        }
    }
    .content_desc {
        font-size: 0.875rem;
        margin-top: 8px;
    }
    .image-content {
        margin-right: -120%;
        margin-left: 56px;
        img {
            box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
            border-radius: 10px;
        }
        @media (max-width: 1024.98px) {
            margin-right: 0;
            margin-left: 0;
            margin-bottom: 24px;
            order: 1;
        }
    }
    @media (max-width: 575.98px) {
        padding-top: 40px;
    }
}

.solutions-index {
    position: relative;
    padding-top: 80px;
    padding-bottom: 50px;
    overflow: hidden;
    .solutions-content {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        margin-top: 32px;
        @media (max-width: 1024.98px) {
            grid-template-columns: 1fr;
            order: 2;
            margin-top: 0;
        }
    }
    .image-content {
        margin-left: -50%;
        img {
            display: block;
            margin-left: auto;
        }
        @media (max-width: 1024.98px) {
            margin-left: 0;
            margin-top: 24px;
            order: 1;
        }
    }
    .contents {
        margin-top: 16px;
        ul {
            li {
                &:before {
                    color: map-get($map: $theme-colors, $key: "secondary");
                    content: "\f058";
                    font-family: map-get($map: $theme-fonts, $key: "icons");
                    margin-right: 8px;
                }
                + li {
                    margin-top: 16px;
                }
            }
        }
    }
    @media (max-width: 575.98px) {
        padding-top: 40px;
        margin-top: 24px;
    }
}

.screenshot-index {
    padding-top: 80px;
    overflow: hidden;
    .contents {
        margin-top: 16px;
        max-width: 58.3333333333%;
        @media (max-width: 1024.98px) {
            max-width: 100%;
        }
    }
    .screenshot-swiper {
        max-width: 83.3333333333%;
        margin-top: 16px;
        .swiper-container {
            overflow: visible;
            @media (max-width: 575.98px) {
                overflow: hidden;
            }
        }
        .swiper-slide {
            transition: 0.3s transform ease-in-out, 1.6s opacity ease-in-out;
            &:not(.swiper-slide-active) {
                transform: scale(0.9);
                @media (max-width: 575.98px) {
                    transform: unset;
                }
            }
            &:not(.swiper-slide-next):not(.swiper-slide-active) {
                opacity: 0;
                @media (max-width: 575.98px) {
                    opacity: 1;
                }
            }
        }
        @media (max-width: 575.98px) {
            max-width: 100%;
        }
    }
    .screenshot-image {
        img {
            box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
            border-radius: 10px;
        }
        @media (max-width: 575.98px) {
            margin: 8px;
        }
    }
    @media (max-width: 575.98px) {
        padding-top: 40px;
    }
}

.connectivity-index {
    margin-top: 80px;
    padding: 80px 0;
    background-color: map-get(
        $map: $theme-colors,
        $key: "primary-blue-light-color-06"
    );
    .connectivity-content {
        display: grid;
        align-items: center;
        grid-column-gap: 48px;
        grid-template-columns: 1fr 1fr;
        @media (max-width: 1024.98px) {
            grid-template-columns: 1fr;
        }
    }
    .image-content {
        @media (max-width: 1024.98px) {
            order: 2;
            margin-top: 32px;
            img {
                display: block;
                margin: 0 auto;
            }
        }
    }
    .contents {
        @media (max-width: 1024.98px) {
            order: 1;
        }
    }
    .desc {
        margin-top: 24px;
        p {
            + p {
                margin-top: 8px;
            }
        }
    }
    @media (max-width: 575.98px) {
        margin-top: 40px;
        padding: 40px 0;
    }
}
