@import "../scss/default/varivables.scss";

.service-dt-summary {
    padding: 80px 0;
    background-image: url("/assets/images/service-detail/service-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .summary__item {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-row-gap: 16px;
        .image {
            img {
                display: block;
                margin: 0 auto;
            }
        }
        .content {
            h3,
            p {
                text-align: center;
            }
            h3 {
                color: map-get($map: $theme-colors, $key: "primary");
                font-size: 1.25rem;
                text-align: center;
                margin-bottom: 8px;
            }
        }
        @media (max-width: 1024.98px) {
            max-width: 350px;
            width: 100%;
            margin: 0 auto;
        }
    }
    @media (max-width: 1024.98px) {
        [class*="col-"] {
            + [class*="col-"] {
                margin-top: 32px;
            }
        }
    }
    @media (max-width: 575.98px) {
        padding: 40px 0;
    }
}

.service-dt-contents {
    padding: 80px 0;
    &:nth-child(2n) {
        background-color: map-get(
            $map: $theme-colors,
            $key: "primary-blue-light-color-06"
        );
    }
    &:nth-child(2n + 1) {
        .content-wrapper {
            grid-template-columns: 0.8fr 1.2fr;
            .contents {
                order: 1;
            }
            .image {
                order: 2;
            }
            @media (max-width: 1024.98px) {
                grid-template-columns: 1fr;
                .contents {
                    order: 2;
                }
                .image {
                    order: 1;
                }
            }
        }
    }
    .content-wrapper {
        display: grid;
        align-items: center;
        grid-template-columns: 1.2fr 0.8fr;
        grid-column-gap: 56px;
        grid-row-gap: 24px;
        margin-top: 32px;
        @media (max-width: 1024.98px) {
            grid-template-columns: 1fr;
        }
        @media (max-width: 575.98px) {
            margin-top: 16px;
        }
    }
    .image {
        img {
            width: 100%;
            height: auto;
        }
    }
    .list-contents {
        h5 {
            font-size: 1.25rem;
            color: map-get(
                $map: $theme-colors,
                $key: "primary-blue-medium-color-02"
            );
            margin-bottom: 8px;
            @media (max-width: 575.98px) {
                font-size: 1rem;
            }
        }
        .content__item {
            + .content__item {
                margin-top: 24px;
            }
        }
        @media (max-width: 575.98px) {
            h5,
            p {
                text-align: center;
            }
        }
    }
    @media (max-width: 1024.98px) {
        padding: 40px 0;
    }
}
