@import "../scss/default/varivables.scss";

.categories-solution-section {
    padding: 80px 0;
    background-color: map-get(
        $map: $theme-colors,
        $key: "primary-blue-light-color-06"
    );
    .categories-solution {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 16px;
        margin-top: 16px;
        @media (max-width: 1024.98px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 575.98px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .category__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        transition: 0.3s all ease-in-out;
        .icon {
            color: map-get($map: $theme-colors, $key: "primary");
            font-size: 2.75rem;
        }
        p {
            color: map-get(
                $map: $theme-colors,
                $key: "primary-blue-medium-color-03"
            );
            font-weight: 700;
        }
        &:hover {
            box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.08);
        }
        &.active {
            color: #ffffff;
            background-color: map-get($map: $theme-colors, $key: "primary");
            .icon,
            p {
                color: #ffffff;
            }
        }
    }
    @media (max-width: 575.98px) {
        padding: 40px 0;
    }
}

.solution-posts-section {
    padding: 80px 0;
    .title-default {
        margin-bottom: 32px;
    }
    .post__item {
        display: grid;
        grid-template-columns: 41.6666666667% auto;
        gap: 32px;
        padding-bottom: 32px;
        border-bottom: 1px solid #e6e6e6;
        .item__img {
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }
        .item__content {
            display: flex;
            flex-direction: column;
        }
        .content__time {
            font-size: 0.875rem;
            display: flex;
            align-items: center;
            margin-bottom: 16px;
            .icon {
                color: map-get($map: $theme-colors, $key: "primary");
                margin-right: 8px;
            }
        }
        .content__heading {
            position: relative;
            font-size: 1.125rem;
            font-weight: 700;
            padding-bottom: 8px;
            margin-bottom: 16px;
            &:after {
                content: "";
                width: 80px;
                height: 2px;
                position: absolute;
                background-color: map-get(
                    $map: $theme-colors,
                    $key: "secondary"
                );
                bottom: 0;
                left: 0;
            }
        }
        .content__tag {
            color: map-get(
                $map: $theme-colors,
                $key: "primary-blue-medium-color-03"
            );
            font-size: 0.75rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 4px 16px;
            background-color: map-get(
                $map: $theme-colors,
                $key: "primary-blue-light-color-06"
            );
            font-weight: 700;
            border-radius: 8px;
            width: fit-content;
        }
        .content__desc {
            color: map-get($map: $theme-colors, $key: "txt-gray");
            margin: 16px 0;
        }
        .btn {
            padding-left: 1rem;
            padding-right: 1rem;
            margin-top: auto;
            width: fit-content;
        }
        + .post__item {
            margin-top: 32px;
        }
        @media (max-width: 767.98px) {
            grid-template-columns: 1fr;
            gap: 16px;
        }
    }
    @media (max-width: 575.98px) {
        padding: 40px 0;
    }
}
