.banner-title-default {
    position: relative;
    min-height: 450px;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: map-get($map: $theme-colors, $key: "primary-dark-02");
        opacity: 0.7;
        pointer-events: none;
    }
    .content-wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        text-align: center;
        width: 100%;
        h2,
        p {
            color: #ffffff;
        }
        h2 {
            font-size: 2rem;
            text-transform: uppercase;
            margin-bottom: 16px;
        }
        p {
            max-width: 650px;
            margin: 0 auto;
        }
    }
    @media (max-width: 1024.98px) {
        min-height: 350px;
    }
}
