.call-to-action-01 {
    position: relative;
    background-image: url("../images/home-content/bg-call-to-action-01.png");
    background-size: cover;
    background-position: center center;
    min-height: 410px;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: map-get($map: $theme-colors, $key: "primary");
        opacity: 0.8;
        pointer-events: none;
    }
    .content-wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        text-align: center;
        width: 100%;
        h2,
        p {
            color: #ffffff;
        }
        h2 {
            font-size: 2rem;
            text-transform: uppercase;
            margin-bottom: 16px;
            @media (max-width: 575.98px) {
                @media (max-width: 767.98px) {
                    font-size: 1.5rem;
                }
                @media (max-width: 575.98px) {
                    font-size: 1.125rem;
                    br {
                        display: none;
                    }
                }
            }
        }
        p {
            margin-bottom: 28px;
        }
        .btn {
            padding-right: 64px;
            padding-left: 64px;
            border-radius: 0;
        }
    }
    @media (max-width: 575.98px) {
        min-height: 320px;
    }
    @media (min-width: 1025px) {
        background-attachment: fixed;
    }
}
