.title-default {
    .sub-title-default,
    .main-title-default {
        text-transform: uppercase;
    }
    .sub-title-default {
        display: inline-flex;
        align-items: center;
        font-size: 1.125rem;
        text-transform: uppercase;
        color: map-get($map: $theme-colors, $key: "secondary");
        margin-bottom: 8px;
        &:after,
        &:before {
            display: inline-block;
            height: 4px;
            width: 56px;
            background-color: map-get(
                $map: $theme-colors,
                $key: "primary-blue-light-color-04"
            );
            margin-bottom: 4px;
            @media (max-width: 575.98px) {
                height: 2px;
                width: 32px;
            }
        }
        &:after {
            content: "";
            margin-left: 8px;
        }
        &:before {
            margin-right: 8px;
        }
        @media (max-width: 575.98px) {
            font-size: 0.875rem;
        }
    }
    .main-title-default {
        font-size: 2rem;
        line-height: 1.4;
        font-weight: 700;
        color: map-get($map: $theme-colors, $key: "primary");
        @media (max-width: 767.98px) {
            font-size: 1.5rem;
        }
        @media (max-width: 575.98px) {
            font-size: 1.125rem;
            br {
                display: none;
            }
        }
    }
    &--center {
        .sub-title-default {
            justify-content: center;
            width: 100%;
            &:before {
                content: "";
            }
        }
        .main-title-default {
            text-align: center;
        }
    }
}
